/* RESET */
*{margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;
font-family: 'Poppins', sans-serif;}

body{ background-color: #ccc;}
a {text-decoration: none;}
ul {list-style: none;}
img {max-width: 100%;}

.cabecalho {
    width: 100%;
    float: left;
    padding: 3% 4%;
}
.titulo {
   display: none;
}
.logo {
    width: 56px;
    height: 56px;
    float: right;
    background: url(../img/logo-icon.png) center center/56px no-repeat;
    font-size: 0;
    border-radius: 50%;
}
.btn-menu {
    width: 56px;
    height: 56px;
    float: left;
    text-align: center;
    color: #fff;
    border-radius: 56px;
    cursor: pointer;
    background: linear-gradient(to right, #aaa, #444);
}

.menu {
    display: none;
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: rgba(100, 100, 100, 0.9);
    top: 0;
    left: 0;
}

.menu ul {
    padding-top: 4%;
    width: 100%;
    float: left;
    text-align: center;   
}

.menu li {
    width: 100%;
    padding: 2%;
}

.menu li a {
    font-size: 1.5em;
    color: #fff;
    padding: 1.5% 3%;
}

.menu li:hover {
    border: 1px solid rgb(234, 255, 45);
}
.menu li a:hover {
    color:rgb(234, 255, 45) ;
}


.btn-close {
    font-size: 2em;
    color: #fff;
    float: left;
    cursor: pointer;
    margin: 3% 6%;
}

/* BANNER*/
.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: #222;
}
.title {
    width: 100%;
}
.title h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 700;
}

.title h3 {
    font-size: 1.5em;
    color: #fff;
}

.buttons {
    width: 100%;
} 

.buttons i{
    float: right;
    padding: 4% 2%;
}

.btn-cadastrar {
    width: 100%;
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 4%;
    border-radius: 10px;
    background-color: #fff;
    color: #130400;
    margin-top: 3%;
}

.btn-cadastrar:hover{
    background-color: #444;
    color: #fff;
}
.btn-sobre {
    width: 100%;
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 4%;
    border-radius: 10px;
    background-color: #130400;
    color: #fff;
    margin-top: 3%;
}

.btn-sobre:hover {
    background-color: #444;
    color: #FFF;
}

/* PRODUTOS */

.produtos {
    width: 100%;
    float: left;
    padding: 3% 4%;
}

.produto {
    width: 100%;
    background-color: #fff;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 3%;
}

.produto img{
    border-radius: 5px 5px 0 0 ;
}

.inner {
    padding: 5%;
}

.inner a {
    font-size: 1.5em;
    color: #130400;
    font-weight: 700;
}

.inner h4 {
    font-size: 1.2em;
    color: #130400;
    margin-top: 2%;
}

.inner p {
    margin-top: 5%;
    color: #130400;
    line-height: 1.5em;
}

/* NEWSLETTER*/

.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #130400;
}

.newsletter h2 {
    font-size: 1.5em;
    color: #FFF;
    font-weight: 700;
}
.newsletter h3 {
    color: #FFF;
}

.newsletter form {
    margin-top:  2%;
}

.newsletter input {
    width: 100%;
    background-color: #130400;
    border: 1px solid #fff;
    padding: 4%;
    border-radius: 5px;
    color: #FFF;
}

.newsletter button {
    width: 100%;
    background-color: #fff;
    color: #130400;
    padding: 4%;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2%;
}

/* RODAPE */
.rodape {
    width: 100%;
    float: left;
    padding: 3% 4%;
    text-align: center;
    background: linear-gradient(to right, #aaa, #444)
}

.social-icons a {
    font-size: 1.5em;
    color: #ccc;
    margin-right: 3%;
}
.social-icons a:last-child{
    margin-right: 0;
}
.social-icons a:hover {
    font-size: 1.8em;
    color: #FFF;
    margin-right: 3%;
}

.copy {
    margin-top: 2%;
    color: #FFF;
}

@media screen and (min-width: 480px) {
    .titulo {
        display: inline;
        float: right;
        font-size: 1.5em;
        padding: 2%;
        margin-left: 2%;
        font-weight: 700;
     }
     .btn-cadastrar {
        font-size: 1.6em;
    }
    
    .btn-sobre {
        font-size: 1.6em;
    }
}

@media screen and (min-width: 768px) {
    .titulo {
        display: inline;
        float: right;
        font-size: 1.5em;
        padding: 2%;
        margin-left: 2%;
        font-weight: 700;
     }
     .buttons button {
        padding: 2% 3%;
     }
     .buttons i {
        padding-top: 6%;
     }
     .btn-cadastrar {
        width: 48%;
        font-size: 1.6em;
        margin-left: 2%;
    }
    .btn-sobre {
        width: 48%;
        float: right;
        font-size: 1.6em;
    }

    .produto {
        width: 49%;
        float: left;
        margin-right: 2%;
    }
    .produto:nth-child(2){
        margin-right: 0;
    }
    .newsletter h2 {
        font-size: 2em;
    }
    .newsletter h3 {
        font-size:  1.6em;
    }

    .form input {
        width: 70%;
        float: left;
        margin-right: 1%;
        padding: 2% 3%;
        color: #FFF;
    }
    .form button {
        width: 29%;
        float: right;
        margin-top: 0;
        padding: 2% 3%;
    }
}

@media screen and (min-width: 960px) {
    .cabecalho {
        padding: 1% 2%;
    }
    .titulo {
        display: none;

    }
    .btn-menu {
        display: none;
    }
    .btn-close {
        display: none;
    }
    .menu {
        width: 70%;
        float: left;
        background-color: #ccc;
        display: block !important;
        position: static;
    }
    .menu ul {
        padding-top: 0;
    }
    .menu li {
        margin-right: 40;
        width: 10%;
        padding: 0;
        float: left;
    }
    .menu li a {
        color: #130400;
        font-size: 1em;
        padding: 0;
    }
    .menu li a:hover {
        border: none;
        color: #130400;
        background-color: #222;
    }
    .title {
        text-align: left;
        width: 69%;
        float: left;
    }
    .buttons {
        padding-top: 1%;
        width: 29%;
        float: right;
    }
    .btn-cadastrar {
        width: 100%;
        font-size: 1.6em;
        margin-left: 0;
    }
    .btn-sobre {
        width: 100%;
        font-size: 1.6em;
    }
    .produto {
        width: 32%;
    }
    .produto:nth-child(2){
        margin-right: 2%;
    }
    .produto:nth-child(3){
        margin-right: 0;
    }
}
